/*your CSS code here*/
.heading{
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;

}
.intro{
    background-color:brown;
    color:white;
    padding-left: 16px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.intro img{
   float:right; 
}
body{
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
}
.prof{
    font-size: 25px;
    font-weight:lighter ;
}
.contactinfo{
    font-size: 20px;
    padding-left:16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aliceblue;
    

}
.subheading{
    font-size: 25px;
    font-weight:bolder;
    color: brown;
    text-transform: uppercase;
    
} 
.skills{
        background-color: aliceblue;
}
.skill_name{
    width: 4px;
}
.skill_per{
    margin-right: 15px;
    margin-bottom: 5px;
} 


.skills ul li{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;

}
.skills ul li .skill_prog{
    width: 60%;
    height: 5px;
    position: relative;
    
}
.skills ul li .skill_prog span
{
    position: absolute;
    height: 100%;
    background:brown;
    margin-top: 10px;

}


.social{
    background-color: aliceblue;
}
.explist{
    background-color: aliceblue;
}
.icon {
    color:brown;
    float: left;
    margin-right: 12px;
}
.date{
    font-size: 16px;
    color: #2F5A78;
    font-weight: bold;
} 
